@model SymbolsInfo

<section>
    <div class="container">
        <h2>Symbols</h2>
        <hr />
        <p>Select a Symbol to get some Q-Stock information:</p>


        <form asp-controller="Home" asp-action="Symbols" method="get">
            <select name="symbol" id="soflow-color">
                @foreach (var company in Model.Companies)
                {
                    <option value=@company.symbol selected>@company.name</option>
                }
            </select>
            <input type="submit" value="Search Company" />
        </form>


        @if (Model.Current != null)
        {
            var equity = Model.Current;
            <hr />
            <p>You selected:</p>
            <h2>@equity.name</h2>
            <form asp-controller="Home" asp-action="Symbols" method="get">
                <input name="symbol" type="hidden" value="@Model.Current.symbol" />
                <input name="update" type="hidden" value="true" />
                <input type="submit" value="Update Info" />
            </form>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <canvas id="myChart" height="500" width="800"></canvas>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            @if (Model.Current.KeyStats.symbol != null)
            {
                <h2>Key Stats</h2>
                <table class="table-style-one">
                    <tbody>
                        <tr>
                            <th align="left">Market Cap</th>
                            <th align="left">Shares Outstanding</th>
                            <th align="left">Price To Sales</th>
                            <th align="left">Price To Book</th>
                            <th align="left">Return on Assets</th>
                            <th align="left">Return on Capital</th>

                        </tr>
                        <tr>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.KeyStats.marketcap)</td>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.sharesOutstanding)</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.KeyStats.priceToSales)</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.KeyStats.priceToBook)</td>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.returnOnAssets)%</td>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.returnOnEquity)%</td>

                        </tr>
                        <tr>
                            <th align="left">Beta</th>
                            <th align="left">Short Ratio</th>
                            <th align="left">Dividend Yield</th>
                            <th align="left">Week 52 Change</th>
                            <th align="left">Week 52 High</th>
                            <th align="left">Week 52 Low</th>
                        </tr>
                        <tr>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.beta)</td>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.shortRatio)</td>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.dividendYield)</td>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.week52change)%</td>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.week52high)</td>
                            <td align="right">@string.Format("{0:#,0.00}", @Model.Current.KeyStats.week52low)</td>
                        </tr>
                    </tbody>
                </table>
            }

            @if (Model.Current.Financials.symbol != null)
            {
                <h2>Financials</h2>
                <table class="table-style-one">
                    <tbody>
                        <tr>
                            <th align="left"><h3>Income Statement</h3></th>
                            <th align="right">@Model.Current.Financials.reportDate</th>
                        </tr>
                        <tr>
                            <td align="left">Total Revenue</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.totalRevenue)</td>
                        </tr>
                        <tr>
                            <td align="left">Cost of Revenue</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.costOfRevenue)</td>
                        </tr>
                        <tr>
                            <td align="left">Gross Profit</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.grossProfit)</td>
                        </tr>
                        <tr>
                            <td align="left">Operating Expense</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.operatingExpense)</td>
                        </tr>
                        <tr>
                            <td align="left">Operating Income or Loss</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.operatingIncome)</td>
                        </tr>
                        <tr>
                            <td align="left">Net Income</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.netIncome)</td>
                        </tr>
                        <tr>
                            <th align="left"><h3>Balance Sheet</h3></th>
                            <th align="right">@Model.Current.Financials.reportDate</th>
                        </tr>
                        <tr>
                            <td align="left">Total Assets</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.totalAssets)</td>
                        </tr>
                        <tr>
                            <td align="left">Total Liabilities</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.totalLiabilities)</td>
                        </tr>
                        <tr>
                            <td align="left">Stockholders' Equity</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.shareholderEquity)</td>
                        </tr>
                        <tr>
                            <th align="left"><h3>Cash Flow</h3></th>
                            <th align="right">@Model.Current.Financials.reportDate</th>
                        </tr>
                        <tr>
                            <td align="left">Cash Flow</td>
                            <td align="right">$@string.Format("{0:#,0.00}", @Model.Current.Financials.cashFlow)</td>
                        </tr>
                    </tbody>
                </table>
            }

            if (@Model.Current.Dividends!=null && @Model.Current.Dividends.Count() > 0)
            {
                <h2>Dividends</h2>
                <table class="table-style-one">
                    <tbody>
                        <tr>
                            <th align="left"><h3>Type</h3></th>
                            <th align="left"><h3>Amount</h3></th>
                            <th align="left"><h3>Payment Date</h3></th>
                        </tr>
                        @foreach (var dividend in Model.Current.Dividends)
                        {
                            <tr>
                                <td align="left">@dividend.type</td>
                                <td align="right">@dividend.amount</td>
                                <td align="right">@dividend.paymentDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
</section>


<script>
    getChart("@Model.Dates", "@Model.Prices", "@Model.Volumes", @Model.AvgPrice, @Model.AvgVolume);
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
